* {
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%; height: 100vh; padding: 10vh 10vw;
  display: flex; flex-direction: column;
  align-items: center; justify-content: space-around;
  font-size: 3vmin;
  overflow: hidden;
  position: relative;
  background-color: rgb(126, 126, 126);
}
html{
  scroll-behavior: smooth;
}

#preloader {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  background: rgb(97, 96, 102);
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 10vmin;
  color: #347;
}

#preloader.loaded {
  opacity: 0;
  transition: opacity 3s;
  pointer-events: none;
}
  
/* Navigation */

nav {
  position:fixed;
  top:27vmin; right: 2vmin;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  z-index: 100;
}

nav a {
  display: block; width: 8vmin; height: 8vmin; 
  margin-bottom: 2vmin;
  background: rgba(127, 156, 209, 0.4);
  color: #fff;
  border:0.5vh solid rgba(95, 195, 226, 0.301);; 
  border-radius: 50%;
  text-align: right; 
  line-height: 8vmin;
	text-decoration: none;
	transition: 0.5s;
}
.logo{
  position: absolute;
  top:-11vh;
  right:0.5vw;
  box-shadow: 0 0 50px rgb(59, 29, 20);
  border: solid 0.5vh rgba(95, 195, 226, 0.301);
  border-radius: 10px;
  background-color: rgba(127, 156, 209, 0.4);
}

nav .selected { background:rgba(2, 155, 155, 0.596); }


/* first page */
#arrowin {
  top: 75vh;
  left: 48vw;
  position: absolute;
  width: 5vw;
  height:15vh;
  z-index: 5; 
  overflow: hidden;
  animation: surveyani 2s ease 0s infinite normal none;
  }
.indoor{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:2vmin;
  position: absolute;
  top: 90vh;
  left:47vw;
  width: 6vw;
  height: 5vh;
  border: solid 4px rgba(63, 13, 1, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 70px rgb(57, 40, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
  opacity: 1;
  color:#ffffff;
}
.indoor::after{
  content: '';
  position: absolute;
  width: 6vw;
  height: 5vh;
  box-shadow: 0 0 5px rgb(142, 139, 170);
  border-radius: 5px;
  background-color: rgba(30, 98, 225, 0.4);
}
.indoor:hover{
  animation: hold2 2s;
}
#text {
  font-family: 'Architects Daughter', cursive;
  position: relative;
  color: #d8d7df;
  font-size: 5em;
  z-index: 5;
  box-shadow: 0 0 50px rgb(59, 29, 20);
  border: solid 12px rgba(95, 195, 226, 0.301);
  border-radius: 88px 15px 88px 15px;
  background-color: rgba(127, 156, 209, 0.4);
  cursor: pointer;
}
#text::after{
  content: '';
  position: absolute;
  box-shadow: 0 0 12px rgb(51, 40, 210);
  background-color: rgba(30, 98, 225, 0.4);
  border-radius: 5px;
}
#text:hover{
  animation: hold0 2s;
}


@keyframes hold0{
  0%,34%,68%,100%{
      border: solid 12px rgba(30, 19, 182, 0.842);
      box-shadow: 0 0 70px rgb(40, 210, 202);
  }
  17%,51%,85%{
      border: solid 15px rgba(16, 158, 99, 0.527);
      box-shadow: 0 0 90px rgb(40, 210, 202);
  }
}

#cloud {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 2;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity:0;
}
#cloud1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 3;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity: 0;
}

#UFO{
  top: 10vw;
  left: 0;
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  animation: UFOani 2s ease 0s infinite normal none;
  opacity:0;
}
#UFO1{
  top: 10vw;
  left: 0;
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  animation: UFOani 2s ease 0s infinite normal none;
  opacity:1;
}
#rocket{
  position: absolute;
  left:10vmin;
  top:10vmin;
  width: 10%;
  height: 10%;
  z-index: 3;
  cursor: pointer;
  opacity:0;
}
#rocket1{
  position: absolute;
  left:10vmin;
  top:10vmin;
  width: 10%;
  height: 10%;
  z-index: 4;
  cursor: pointer;
  opacity: 1;
}
#rocket1:hover{
  animation: rocketani 8s ease 0s ;
}
#rocket:hover{
  animation: rocketani 8s ease 0s ;
}
#museum{
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  position:absolute;
  text-align:center;
  z-index: 2;
  opacity: 0;
}
#museum1{
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  position:absolute;
  text-align:center;
  z-index: 2;
  opacity: 1;
}
#bg{  
  top: 0;
  left: 0;
  position:absolute;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity:0;
}
#bg1{  
  top: 0;
  left: 0;
  position:absolute;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity:1;
}
#light {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 1;
  animation: lightani 3s ease 0s infinite normal none;
}
@keyframes lightani{
  0% { opacity: 0;
    transform: scale(1); }
 
  50% { opacity: 0.6;
    transform: scale(1.05); }
 
  100%{ opacity: 0; 
    transform: scale(1);}
}
@keyframes UFOani{
  0% { 
    transform-origin: 50%,50%;
    transform: rotate(0deg); }
  25% { 
    transform-origin: 50%,50%;
    transform: rotate(3deg); }
 
  50% { 
    transform-origin: 50%,50%;
    transform: rotate(0deg); }
 
  75%{  
    transform-origin: 50%,50%;
    transform: rotate(-3deg);}
  100% { 
    transform-origin: 50%,50%;
    transform: rotate(0deg); }    
}

@keyframes rocketani{
0.0%{
  transform: translate(0px, 0) rotate(0deg) scale(1);}
39.1%{
  transform: translate(200px, -100px) rotate(160deg) scale(0);}
62.9%{
  transform: translate(50px,-25px) rotate(160deg) scale(1);}
100%{
  transform: translate(0px, 0px) rotate(360deg) scale(1);}
}



/* second page */
.inmuseum{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1.5vmin;
  position: absolute;
  top: 80%;
  left:48%;
  width: 70px;
  height: 30px;
  border: solid 3px rgba(226, 95, 95, 0.582);
  box-shadow: 0 0 70px rgb(210, 40, 40);
  border-radius: 3px 3px 15px 15px;;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:5;
  cursor: pointer;
  opacity: 1;
  color: rgb(255, 255, 255);
}
.inmuseum::after{
  content: '';
  position: absolute;
  width: 70px;
  height: 30px;
  box-shadow: 0 0 3px rgb(210, 40, 40);
  border-radius: 3px 3px 15px 15px;;
  background-color: rgba(225, 30, 30, 0.4);
}
.inmuseum:hover{
  animation: hold2 2s;
}
#secondpage {
  background-color: #000;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center top;
  background-size:cover;
  font-family: Playfair Display, serif;
}




#secondpage img {
  position: absolute;

}

#secondpage #anim1 {
  transform: translateX(-100vw);
  height: 78vh;
  z-index:5;
  animation: anim1 1s ease-out 1 forwards paused;
}
#secondpage #step1{
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.644);
  box-shadow: 0 0 5px rgb(51, 40, 210);
  border: solid 4px rgba(95, 196, 226, 0.582);
  box-shadow: 0 0 70px rgb(57, 40, 210);
  border-radius: 5px;
  background-color: rgba(30, 98, 225, 0.4);
  z-index:1;
  font-size:2.5vmin;
  height: -10vh;
}
#step2{
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.644);
  box-shadow: 0 0 5px rgb(51, 40, 210);
  border: solid 4px rgba(95, 196, 226, 0.582);
  box-shadow: 0 0 70px rgb(57, 40, 210);
  background-color: rgba(30, 98, 225, 0.4);
  border-radius: 5px;
  z-index:1;
  opacity: 0;
  font-size: 1.8vmin;
  height: -10vh;
  text-align: center;
}
#secondpage #wall{
  width: 100%; 
  height: 100vh;
  z-index:1;
  overflow: hidden;
  border: 10px ridge #666666;
}
#secondpage #anim2 {
  height: 78vh;
  transform: translateX(100vw);
  z-index: 5;
  animation: anim2 1s ease-out 1 forwards paused;
}
#hidden2 {
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 2; 
  opacity: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#bottombox{
  z-index:3;
  top:45vh;
}
#boxlight{
  top:45vh;
  z-index:4;
  opacity:0;
  cursor: pointer;
}
#VR_glasses{
  width: 15%; 
  height: 15%;
  top:24vh;
  z-index:2;
  opacity: 1;
  cursor: pointer;
}
#upbox{
  z-index:3;
  top:38vh;
}
#glasseslight{
  width: 20%; 
  height: 28%;
  top:20vh;
  z-index:2;
  opacity: 0;
  animation: glasseslight2 3s ease 0s infinite normal none;
}
#glasseslight2{
  width: 20%; 
  height: 28%;
  top:20vh;
  z-index:2;
  opacity: 0;
  animation: glasseslight 3s ease 0s infinite normal none;
}
#star1{
  width: 4.5%; 
  height: 5%;
  top:40vh;
  z-index:3;
  opacity: 1;
  animation: star1 3s ease 0s infinite normal none;
}
#star2{
  width: 4.5%; 
  height: 5%;
  top:40vh;
  left:46vw;
  z-index:2;
  opacity: 0;
  animation: star2 5s ease 0s infinite normal none;
}
#star3{
  width: 4.2%; 
  height: 5%;
  top:40vh;
  left:46vw;
  z-index:2;
  opacity: 0;
  animation: star3 8s ease 0s infinite normal none;
}
#star4{
  width: 4.2%; 
  height: 5%;
  top:22vh;
  left:50vw;
  z-index:2;
  opacity: 0;
  animation: star4 5s ease 0s infinite normal none;
}
@keyframes star4{
  0.0%{
    transform: rotate(-90deg) scale(0.1);
    opacity: 1;
}
100%{
    transform:  rotate(-450deg) scale(0.1);
    opacity: 1;
}
50.2%{
    transform: rotate(-290deg) scale(0.5);
    opacity:2;
}}
@keyframes star3{
  0.0%{
    transform: rotate(0deg) scale(0.8);
    opacity: 1;
}
100%{
    transform:  rotate(360deg) scale(0.8);
    opacity: 1;
}
50.2%{
    transform: rotate(180deg) scale(0.1);
    opacity:2;
}}
@keyframes star1{
  0.0%{
    transform: rotate(0deg) translate(0,0) scale(0.1);
    opacity: 1;
}
100%{
    transform: translate(30px,-100px) rotate(0deg) scale(1.5);
    opacity: 0;
}
50.2%{
    transform: translate(20px,-25px) rotate(-180deg) scale(0.5);
    opacity: 0.6;
}
}
@keyframes star2{
  0.0%{
    transform: rotate(0deg) translate(0,0) scale(0.1);
    opacity: 1;
}
100%{
    transform:rotate(-30deg) translate(-50px,-100px)  scale(1.5);
    opacity: 0;
}
50.2%{
    transform:rotate(90deg) translate(- 20px,-25px)  scale(0.5);
    opacity: 0.6;
}
}
@keyframes glasseslight2 {
  0% { opacity: 0.5;
    transform: scale(1.1); }
 
  50% { opacity: 1;
    transform: scale(1); }
 
  100%{ opacity: 0.5; 
    transform: scale(1.1);}
}
@keyframes glasseslight {
  0% { opacity: 0.8;
    transform: scale(1); }
 
  50% { opacity: 0.5;
    transform: scale(1.1); }
 
  100%{ opacity: 0.8; 
    transform: scale(1);}
}

@keyframes anim1 {
  0% { transform: translateX(-50vw) }
  100% { transform: translateX(-10vw) }
}

@keyframes anim2 {
  0% { transform: translateX(50vw) }
  100% { transform: translateX(10vw) }
}

/* section3 */

#thirdpage {
  background: linear-gradient( rgba( 0, 0, 0, 0.25 ), rgba( 0, 0, 0, 0.75 ) );
  background-size: inherit;
  color: #fff;
  font-family: 'Arima Madurai', cursive;
  text-shadow: 0 2px 1px #000;
}

#background3 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }

#bglight {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1; 
  opacity: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }

#hidden {
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 5; 
  opacity: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#hidden_1 {
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 4; 
  opacity: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#hidden_2 {
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 2; 
  opacity: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#introbutton{
    height:9%;
    position: absolute;
    top:33%;
    left:7%;
    z-index: 5; 
    opacity: 0;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(51, 40, 210);
    border: solid 4px rgba(95, 196, 226, 0.582);
    box-shadow: 0 0 70px rgb(57, 40, 210);
    background-color: rgba(30, 98, 225, 0.4);
    border-radius: 5px;
  }
#introbutton:hover{
  animation: hold 2s;
}
#introduction{
  top:55vh;
  left:5vw;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: rgb(226, 144, 96);
  text-shadow: 2px 1px 3px rgba(192, 242, 255, 0.466);
  z-index:3;
  opacity: 1;
  font-size: 2.45vmin;
  text-align: center;
  position: absolute;
  opacity: 0;
}

#p1{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
}

#p2{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

#arrow{
  width: 7%;
  height:7%;
  position: absolute;
  top: 96%;
  left: 60%;
  z-index: 1;
  opacity: 1;
  animation: arrowani 3s ease 0.5s infinite normal none;
  opacity:0;
}

.lightbutton,.lightbutton::after{
  position: absolute;
  z-index: 6;
  top:0vh;
  font-family: 'Rajdhani', sans-serif;
  width: 300px;
  height: 80px;
  text-align: center;
  font-size: 22px;
  line-height: 80px;
  color: rgb(255, 251, 251);
  background: linear-gradient(30deg,transparent 10%,rgba(235, 38, 3, 0.596) 10% 95%,  rgb(255, 38, 0) 95%);
  box-shadow: 5px 0 0 rgb(82, 82, 82);
  cursor: pointer;
  position: relative;
  }

.lightbutton::after{
    content: 'Use VR glasses to open light!';
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: -5px -2px 0 rgb(0, 183, 255),
    5px 2px 0 rgb(0, 255, 115) ;
    visibility: hidden;
    
} 

.lightbutton:hover::after{
  animation: san 1s ; 
  animation-timing-function: steps(1, end);
}
.button1{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:2.5vmin;
  position: absolute;
  top: 70%;
  left:15%;
  width: 100px;
  height: 40px;
  border: solid 4px rgba(95, 196, 226, 0.582);
  box-shadow: 0 0 70px rgb(57, 40, 210);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.button1::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 40px;
  box-shadow: 0 0 5px rgb(51, 40, 210);
  background-color: rgba(30, 98, 225, 0.4);
  border-radius: 5px;
}
.button1:hover{
  animation: hold 2s;
}
.button2{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1vmin;
  position: absolute;
  top: 70%;
  left:80%;
  width: 70px;
  height: 30px;
  border: solid 3px rgba(226, 95, 95, 0.582);
  box-shadow: 0 0 70px rgb(210, 40, 40);
  border-radius: 3px 3px 15px 0px;;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.button2::after{
  content: '';
  position: absolute;
  width: 70px;
  height: 30px;
  box-shadow: 0 0 3px rgb(210, 40, 40);
  border-radius: 3px 3px 15px 0px;;
  background-color: rgba(225, 30, 30, 0.4);
}
.button2:hover{
  animation: hold2 2s;
}
/* animation for section3 */

@keyframes san{
  
  0%{
   clip-path: inset(20% -5px  60%  0);
   transform: translate(-6px,5px);
   visibility: visible;
  }
  10%{
   clip-path: inset(50% -5px  30%  0);
   transform: translate(6px,-5px);
  }
  20%{
   clip-path: inset(20% -5px  60%  0);
   transform: translate(5px,0px);

   }
   30%{
       clip-path: inset(80% -5px  5%  0);
   transform: translate(-8px,5px);
   }
   40%{
       clip-path: inset(0 -5px  80%  0);
   transform: translate(-4px,-3px);

   }
   50%{
       clip-path: inset(50% -5px  30%  0);
   transform: translate(-6px,-5px);
   }
   60%{
       clip-path: inset(80% -5px  5%  0);
   transform: translate(-7px,5px);

   }
   70%{
       clip-path: inset(0 -5px  80%  0);
   transform: translate(3px,6px);
   }
   80%{
       clip-path: inset(50% -5px  30%  0);
   transform: translate(5px,5px);

   }
   90%{
       clip-path: inset(20% -5px  60%  0);
   transform: translate(6px,-5px);

   }
   100%{
       clip-path: inset(0 -5px  80%  0);
   transform: translate(1px,5px);

   }
}
@keyframes arrowani{
  0.0%{
    transform: translate(0px,0px) rotate(0deg) scale(1);
}
100%{
    transform: translate(270px,-100px) rotate(-25deg) scale(0.5);
}
}
@keyframes hold{
  0%,34%,68%,100%{
      border: solid 5px rgba(30, 19, 182, 0.842);
      box-shadow: 0 0 70px rgb(40, 210, 202);
  }
  17%,51%,85%{
      border: solid 5px rgba(16, 158, 99, 0.527);
      box-shadow: 0 0 90px rgb(40, 210, 202);
  }
}
@keyframes hold2{
  0%,34%,68%,100%{
      border: solid 3px rgb(189, 175, 51);
      box-shadow: 0 0 70px rgb(243, 130, 0);
  }
  17%,51%,85%{
      border: solid 3px rgba(252, 214, 0, 0.527);
      box-shadow: 0 0 90px rgb(253, 228, 0);
  }
}
/*  section4 */

#background4 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#gray{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#normalstyle{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity: 0;
  }
#watercolorstyle{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity: 0;
  }
#sketchstyle{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity: 0;
  }
#pixelstyle{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity: 0;
  }
#cartoonstyle{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
  overflow: hidden;
  border: 10px ridge #666666;
  opacity: 0;
  }
#bglight4 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1; 
  opacity: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#intro4{
  top:30vh;
  left:42vw;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: rgba(247, 169, 0, 0.733);
  text-shadow: 2px 2px 10px rgba(226, 99, 40, 0.466);
  z-index:4;
  opacity: 1;
  font-size: 3.5vmin;
  text-align: center;
  position: absolute;
  opacity: 0;
}
.style1{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1.5vmin;
  position: absolute;
  top: 36vh;
  left:40vw;
  width: 6vw;
  height: 5vh;
  border: solid 4px rgba(16, 123, 138, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 70px rgb(57, 40, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  color:#ffa600d7;
}
.style1::after{
  content: '';
  position: absolute;
  width: 6vw;
  height: 5vh;
  box-shadow: 0 0 5px rgb(51, 40, 210);
  border-radius: 5px;
  background-color: rgba(30, 98, 225, 0.4);
}
.style1:hover{
  animation: hold 2s;
}
.style2{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1.5vmin;
  position: absolute;
  top: 36vh;
  left:47vw;
  width: 6vw;
  height: 5vh;
  border: solid 4px rgba(16, 123, 138, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 70px rgb(57, 40, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  color:#ffa600d7;
}
.style2::after{
  content: '';
  position: absolute;
  width: 6vw;
  height: 5vh;
  box-shadow: 0 0 5px rgb(51, 40, 210);
  border-radius: 5px;
  background-color: rgba(30, 98, 225, 0.4);
}
.style2:hover{
  animation: hold 2s;
}
.style3{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1.5vmin;
  position: absolute;
  top: 36vh;
  left:54vw;
  width: 6vw;
  height: 5vh;
  border: solid 4px rgba(16, 123, 138, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 70px rgb(57, 40, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  color:#ffa600d7;
}
.style3::after{
  content: '';
  position: absolute;
  width: 6vw;
  height: 5vh;
  box-shadow: 0 0 5px rgb(51, 40, 210);
  border-radius: 5px;
  background-color: rgba(30, 98, 225, 0.4);
}
.style3:hover{
  animation: hold 2s;
}
.style4{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1.5vmin;
  position: absolute;
  top: 36vh;
  left:61vw;
  width: 6vw;
  height: 5vh;
  border: solid 4px rgba(16, 123, 138, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 70px rgb(57, 40, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  color:#ffa600d7;
}
.style4::after{
  content: '';
  position: absolute;
  width: 6vw;
  height: 5vh;
  box-shadow: 0 0 5px rgb(51, 40, 210);
  border-radius: 5px;
  background-color: rgba(30, 98, 225, 0.4);
}
.style4:hover{
  animation: hold 2s;
}
.style5{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1.5vmin;
  position: absolute;
  top: 36vh;
  left:68vw;
  width: 6vw;
  height: 5vh;
  border: solid 4px rgba(16, 123, 138, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 70px rgb(57, 40, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  color:#ffa600d7;
}
.style5::after{
  content: '';
  position: absolute;
  width: 6vw;
  height: 5vh;
  box-shadow: 0 0 5px rgb(51, 40, 210);
  border-radius: 5px;
  background-color: rgba(30, 98, 225, 0.4);
}
.style5:hover{
  animation: hold 2s;
}
.changeroom{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:2vmin;
  position: absolute;
  top: 85%;
  left:50%;
  width: 140px;
  height: 60px;
  border: solid 5px rgba(226, 95, 95, 0.582);
  box-shadow: 0 0 70px rgb(210, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  color: rgb(255, 255, 255);
  border-radius: 15px 5px 25px 0px;
}
.changeroom::after{
  content: '';
  position: absolute;
  width: 140px;
  height: 60px;
  box-shadow: 0 0 5px rgb(210, 40, 40);
  border-radius: 15px 5px 25px 0px;
  background-color: rgba(225, 30, 30, 0.4);
}
.changeroom:hover{
  animation: hold2 2s;
}
.endroom{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1.5vmin;
  position: absolute;
  top: 50%;
  left:90%;
  width: 100px;
  height: 40px;
  border: solid 3px rgba(226, 95, 95, 0.582);
  box-shadow: 0 0 70px rgb(210, 40, 40);
  border-radius: 3px 3px 15px 0px;;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  color: rgb(255, 255, 255);
}
.endroom::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 40px;
  box-shadow: 0 0 3px rgb(210, 40, 40);
  border-radius: 3px 3px 15px 0px;
  background-color: rgba(225, 30, 30, 0.4);
}
.endroom:hover{
  animation: hold2 2s;
}
.lastroom{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:1.5vmin;
  position: absolute;
  top: 50%;
  left:17%;
  width: 100px;
  height: 40px;
  border: solid 3px rgba(226, 95, 95, 0.582);
  box-shadow: 0 0 70px rgb(210, 40, 40);
  border-radius: 3px 0px  3px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  color: rgb(255, 255, 255);
}
.lastroom::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 40px;
  box-shadow: 0 0 3px rgb(210, 40, 40);
  border-radius: 3px 0px  3px 15px;
  background-color: rgba(225, 30, 30, 0.4);
}
.lastroom:hover{
  animation: hold2 2s;
}
#hidden4 {
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 4; 
  opacity: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#hidden4_1 {
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 3; 
    opacity: 0;
    overflow: hidden;
    border: 10px ridge #666666;
    }
.lightbutton2,.lightbutton2::after{
    position: absolute;
    z-index: 5;
    top:0vh;
    font-family: 'Rajdhani', sans-serif;
    width: 300px;
    height: 80px;
    text-align: center;
    font-size: 22px;
    line-height: 80px;
    color: rgb(255, 251, 251);
    background: linear-gradient(30deg,transparent 10%,rgba(235, 38, 3, 0.596) 10% 95%,  rgb(255, 38, 0) 95%);
    box-shadow: 5px 0 0 rgb(82, 82, 82);
    cursor: pointer;
    position: relative;
    }
  
.lightbutton2::after{
      content: 'Use VR glasses to open light!';
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: -5px -2px 0 rgb(0, 183, 255),
      5px 2px 0 rgb(0, 255, 115) ;
      visibility: hidden;
      
  } 
  
.lightbutton2:hover::after{
    animation: san 1s ; 
    animation-timing-function: steps(1, end);
  }
#arrow1{
  width: 3%;
  height:4%;
  position: absolute;
  top: 96%;
  left: 30%;
  z-index: 2;
  opacity: 0;
  animation: arrow1ani 3s ease 0.5s infinite normal none;
}
#arrow2{
  width: 3%;
  height:4%;
  position: absolute;
  top: 93%;
  left: 80%;
  z-index: 2;
  opacity: 0;
  animation: arrow2ani 3s ease 0.5s infinite normal none;
}
@keyframes arrow1ani {
  0.0%{
  }
  100%{
      transform: translate(-25vh,-90px) rotate(-90deg) scale(0.5);;
  }
  32.8%{
      transform: translate(0px,-90px) scale(1);;
  }
  59.6%{
      transform: translate(0px,-90px) rotate(-90deg) scale(1);;
  }
}
@keyframes arrow2ani {
  0.0%{
  }
  100%{
      transform: translate(16vw,0px);
  }
}

/*  section5 */
.lightbutton3,.lightbutton3::after{
  position: absolute;
  z-index: 5;
  top:0vh;
  font-family: 'Rajdhani', sans-serif;
  width: 300px;
  height: 80px;
  text-align: center;
  font-size: 22px;
  line-height: 80px;
  color: rgb(255, 251, 251);
  background: linear-gradient(30deg,transparent 10%,rgba(235, 38, 3, 0.596) 10% 95%,  rgb(255, 38, 0) 95%);
  box-shadow: 5px 0 0 rgb(82, 82, 82);
  cursor: pointer;
  position: relative;
  }

.lightbutton3::after{
    content: 'Use VR glasses to open light!';
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: -5px -2px 0 rgb(0, 183, 255),
    5px 2px 0 rgb(0, 255, 115) ;
    visibility: hidden;
    
} 

.lightbutton3:hover::after{
  animation: san 1s ; 
  animation-timing-function: steps(1, end);
}

#background5 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#bglight5 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1; 
  opacity: 0;
  overflow: hidden;
  border: 10px ridge #666666;
  }
#surveylogo {
    top: 0;
    left: 20vw;
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 1; 
    overflow: hidden;
    animation: surveyani 2s ease 0s infinite normal none;
    }
@keyframes surveyani{
  0% { opacity: 1;
    transform: scale(1); }
 
  50% { opacity: 0.3;
    transform: scale(1); }
 
  100%{ opacity: 1; 
    transform: scale(1);}
}
.surveybutton{ 
  top:30vh;
  left:3vw; 
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:5vmin;
  position: absolute;
  width: 25vw;
  height: 12vh;
  border: solid 5px rgba(16, 123, 138, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 70px rgb(57, 40, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 1;
  color:#ffffffd7;
  border-radius: 88px 15px 88px 15px;
}
.surveybutton::after{
  content: '';
  position: absolute;
  width:25vw;
  height: 12vh;
  box-shadow: 0 0 5px rgb(51, 40, 210);
  border-radius: 88px 15px 88px 15px;
  background-color: rgba(30, 98, 225, 0.4);
}
.surveybutton:hover{
  animation: hold 2s;
}



#survey{
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  top:24vh;
  left:43vw;
  padding: 3vh;
  margin: 1em auto;
  width: 45vw;
  background-color: rgba(52, 172, 219, 0.322);
  font-family: sans-serif;
  font-size: 3vh;
  line-height: 1.6;
  border: solid 1.5vh rgba(16, 123, 138, 0.582);
  border-radius: 10px;
  box-shadow: 0 0 70px rgb(57, 40, 210);
  color: #d8d7df;
}
#error {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  top:50vh;
  left:60vw;
  z-index: 3;
  position: absolute;
  border: 5px solid rgba(255, 0, 0, 0.658);
  background-color: rgba(202, 55, 18, 0.829);
  color:rgba(255, 230, 0, 0.993);
  box-shadow: 0 0 30px rgb(155, 35, 5);
  padding: 10px;
  border-radius: 5px;
  /* hide the error  */
  visibility: hidden;
  /* set the animation start state */
  padding: 0px 10px;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: 1s;
}

#error.show {
  position: absolute;
  /* show the error */
  visibility: visible;
  /* set the animation end state */
  padding: 10px;
  max-height: 100px;
  opacity: 1;
  z-index: 3;
}

#thank {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  top:50vh;
  left:60vw;
  z-index: 3;
  position: absolute;
  border: 5px solid rgb(3, 177, 55);
  background-color: rgba(204, 252, 255, 0.671);
  color:rgba(0, 119, 255, 0.993);
  box-shadow: 0 0 30px rgb(0, 233, 202);
  padding: 10px;
  border-radius: 5px;
  /* hide the error  */
  visibility: hidden;
  /* set the animation start state */
  padding: 0px 10px;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: 1s;
}

#thank.show {
  position: absolute;
  /* show the error */
  visibility: visible;
  /* set the animation end state */
  padding: 10px;
  max-height: 100px;
  opacity: 1;
  z-index: 3;
}

input,
textarea {
  position: relative;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 18px;
  
}
button{
  color: rgb(209, 208, 208);
  position: relative;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: solid 4px rgba(255, 255, 255, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(155, 65, 5);
  background-color: rgba(225, 134, 30, 0.4);
  cursor: pointer;
}
button:hover{
  animation: hold2 2s;
}
#message {
  position: relative;
  width: 30vw;
  height: 10vh;
}

#remaining {
  position: absolute;
  z-index: 2;
  font-size: 2vh;
  font-style: italic;
  color: #888;
}
#submit{
  left:2vw;
}
#ok{
  left:30vw;
  opacity: 0;
  transition: 1s;
}
#ok.show{
  left:30vw;
  opacity: 1;
}
.lastroom1{  
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size:2.5vmin;
  position: absolute;
  top: 68%;
  left:7%;
  width: 150px;
  height: 60px;
  border: solid 3px rgba(226, 95, 95, 0.582);
  box-shadow: 0 0 70px rgb(210, 40, 40);
  border-radius:10px 0px  10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  color: rgb(255, 255, 255);
}
.lastroom1::after{
  content: '';
  position: absolute;
  width: 150px;
  height: 60px;
  box-shadow: 0 0 3px rgb(210, 40, 40);
  border-radius:10px 0px  10px 25px;
  background-color: rgba(225, 30, 30, 0.4);
}
.lastroom1:hover{
  animation: hold2 2s;
}

#arrow3{
  width: 3%;
  height:4%;
  position: absolute;
  top: 93%;
  left: 20%;
  z-index: 2;
  opacity: 1;
  animation: arrow3ani 3s ease 0.5s infinite normal none;
}
@keyframes arrow3ani {
  0.0%{
  }
  100%{
      transform: translate(-18vw,0px);
  }
}